@page "/R_Grupos"
@page "/R_Grupos/{grupoId:int}"
@inject IToastService toastService

<EditForm Model="grupos" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div className="Container">
        <div class="card align-items-center">
            <div class="card">
                <div class="card-header">
                    <h3>Registros de Grupos</h3>
                </div>
                <div class="card-body">
                    <form>
                        @*GrupoId*@
                        <div class="form-row align-items-center">
                            <div class="col">
                                <div class="form-group">
                                    <label>Grupo Id</label>
                                    <div class="input-group">
                                        <InputNumber @bind-Value="grupos.GrupoId" class="form-control col-4" />
                                        <ValidationMessage For="@(() =>grupos.GrupoId)" />
                                        <div>
                                            <button type="button"
                                                class="btn btn-primary input-group-text oi oi-magnifying-glass"
                                                @onclick="Buscar">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*Descripcion de Grupos*@
                        <div class="form-group">
                            <label>Descripcion Grupos</label>
                            <InputText @bind-Value="grupos.DescripcionCurso" class="form-control col-4" />
                            <ValidationMessage For="@(() =>grupos.DescripcionCurso)" />
                        </div>
                        @*Aula y Curso*@
                        <div class="input-group d-flex align-items-end">
                            <div class="flex-fill mx-2">
                                <label>Aula</label>
                                <InputSelect @bind-Value="aulas.AulaId" class="form-control form-select text-14">
                                    @foreach (var item in ListaAula)
                                    {
                                        <option value="@item.AulaId">@item.Nombre</option>
                                    }
                                </InputSelect>
                            </div>
                            <div class="flex-fill mx-2">
                                <label>Curso</label>
                                <InputSelect @bind-Value="cursos.CursoId" class="form-control form-select text-14">
                                    @foreach (var item in ListCurso)
                                    {
                                        <option value="@item.CursoId">@item.Descripcion</option>
                                    }
                                </InputSelect>
                            </div>
                        </div>
                        @*Desde - Hasta*@
                        <div class="input-group d-flex align-items-end">
                            <div class="flex-fill mx-2">
                                <label>Desde</label>
                                <InputDate class="form-control" @bind-Value="grupos.Desde" />
                            </div>
                            <div class="flex-fill mx-2">
                                <label>Hasta</label>
                                <InputDate @bind-Value="grupos.Hasta" class="form-control" />
                            </div>
                        </div>
                        @*Tiempo*@
                        <div class="form-row align-items-center">
                            <div class="col">
                                <div class="form-group">
                                    <label>Tiempo</label>
                                    <div class="input-group">
                                        <InputNumber @bind-Value="grupos.Tiempo" class="form-control col-4" />
                                        <ValidationMessage For="@(() =>grupos.Tiempo)" />
                                        <div>
                                            <span class="input-group-text">Horas</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*Capacidad*@
                        <div class="form-group">
                            <label>Capacidad</label>
                            <InputNumber @bind-Value="grupos.Capacidad" class="form-control col-4" />
                            <ValidationMessage For="@(() =>grupos.Capacidad)" />
                        </div>
                        @*Cupos Disponible*@
                        <div class="form-group">
                            <label>Cupos Disponible</label>
                            <InputNumber @bind-Value="grupos.CuposDisponible" class="form-control col-4" />
                            <ValidationMessage For="@(() =>grupos.CuposDisponible)" />
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    @*Botones de registros*@
                    <div class="form-group text-center" display: inline-block>
                        <button type="button" class="btn btn-lg btn-primary oi oi-pencontrail"
                            @onclick="Nuevo">Nuevo</button>
                        <button type="submit" class="btn btn-lg btn-success oi oi-plus">Guardar</button>
                        <button type="button" class="btn btn-lg btn-danger oi oi-trash"
                            @onclick="Eliminar">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code
{
    [Parameter]
    public int grupoId { get; set; }
    Grupos grupos = new Grupos();
    Profesores profesores = new Profesores();
    Cursos cursos = new Cursos();
    public List<Cursos> ListCurso { get; set; } = new List<Cursos>();
    Aulas aulas = new Aulas();
    public List<Aulas> ListaAula { get; set; } = new List<Aulas>();
    [Inject]
    public GruposBBL gruposBBL { get; set; }
    [Inject]
    public AulasBBL aulasBBL { get; set; }
    [Inject]
    public CursoBBL cursoBBL { get; set; }

    protected override void OnInitialized()
    {
        grupos.GrupoId = grupoId;
        ListaAula = aulasBBL.GetList(a => true);
        ListCurso = cursoBBL.GetList(c => true);
        Buscar();
    }
    public void Buscar()
    {
        if (this.grupos.GrupoId > 0)
        {
            Grupos? encontraontrado = gruposBBL.Buscar(this.grupos.GrupoId);
            if (encontraontrado != null)
            {
                this.grupos = encontraontrado;

                toastService.ShowSuccess("A sido encontraontrado con exitos ");

            }
            else
            {
                toastService.ShowError("No se pudo encontraontrar con exito");
            }
        }
    }

    public void Nuevo()
    {
        grupos = new Grupos();
    }



    public void Guardar()
    {
        if (aulas.AulaId <= 0)
        {
            if (gruposBBL.Guardar(grupos))
            {
                toastService.ShowSuccess("Se ha guardado correctamente el grupo");
                Nuevo();
            }
            else
            {
                toastService.ShowError("No se puede guardar correctamente el grupo");
            }
        }
        else
        {
            Aulas encontraAula = aulasBBL.Buscar(aulas.AulaId);
            this.aulas = encontraAula;
            grupos.AulaId = encontraAula.AulaId;
            Cursos encontraontrarcurso = cursoBBL.Buscar(cursos.CursoId);
            this.cursos = encontraontrarcurso;
            grupos.CursoId = encontraontrarcurso.CursoId;

             if (gruposBBL.Guardar(grupos))
            {
                toastService.ShowSuccess("Se ha guardado correctamente el grupo");
                Nuevo();
            }
            else
            {
                toastService.ShowError("No se puede guardar correctamente el grupo");
            }
        }



    }



    public void Eliminar()
    {
        bool eliminado;
        eliminado = gruposBBL.Eliminar(grupos.GrupoId);
        if (eliminado)
        {
            Nuevo();
            toastService.ShowSuccess("Eliminación exitosa");
        }
        else
        {
            toastService.ShowSuccess("No se pudo eliminar con exito");
        }
    }
}
